html, body {
    background: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1em;
}

.inversed {
-webkit-filter: invert(100%);
filter: invert(100%);
}

div.rectangle {
    box-sizing: border-box;
    position: absolute;
    width: 600px;
    z-index: 999!important;
    padding: 20px;
}

div.rectangle span {
    background-color: cyan !important;
    color: black;
    font-size: 20px;
}